@font-face {
    font-family: 'TrajanPro';
    src: url("../fonts/TrajanPro-Bold.otf") format("opentype");
    font-weight: 700;
}
@font-face {
    font-family: 'khmer-mn';
    src: url('../fonts/khmer-mn.ttf') format('truetype');
    font-weight: 400;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

$Main-font: 'TrajanPro', sans-serif;
$Second-font: 'khmer-mn', sans-serif;
$Text-font: "Montserrat", sans-serif;

////// TrajanPro pesos
// Regular = 700

/////// khmer-mn pesos
// Regular = 400

/////// Proxima-nova pesos
// thin = 200
// light = 300
// Regular = 400
// Medium = 500
// Semi Bold = 600
// Bold = 700
// Extra Bold = 800
// Black = 900

$Branco: #E0E0E0;
$Preto: #373435;
$Marrom: #4B2F24;
$Amarelo: #D2AE6D;
$Creme: #D0B498;
$Cinza: #776F62;