#Main_TratDetalhes{
    #banner{
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            object-fit: cover;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $Marrom;
            opacity: 0.65;
            z-index: 2;
        }
        h1, p{
            font-family: $Main-font;
            color: $Branco;
            z-index: 5;
        }
        h1{
            position: relative;
            font-size: 6vw;
            display: flex;
            justify-content: center;
            &::before{
                content: '';
                position: absolute;
                bottom: -1.5vh;
                width: 30%;
                height: 0.25vh;
                background-color: $Amarelo;
            }
        }
        p{
            font-size: 2.5vw;
            margin: 1vh 0 1vh;
        }
        span{
            width: 30vw;
            z-index: 5;
            position: absolute;
            bottom: 3vh;
            right: 3vw;
            font-family: $Main-font;
            font-size: 1.15vw;
            color: $Branco;
            white-space: nowrap;                  
            overflow: hidden;
            text-overflow: ellipsis;
            a{
                margin-left: 0.25vw;
                color: $Amarelo;
                &:hover{
                    color: $Marrom
                }
            }
        }
    }
    #como_Funicona{
        min-height: 50vh;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5vh 5% 7.5vh;
        h2{
            width: 100%;
            height: auto;
            font-family: $Main-font;
            font-size: 2.5vw;
            padding-left: 2.5vw;
            margin-bottom: 6.5vh;
            position: relative;
            color: $Marrom;
            &::before{
                content: '';
                position: absolute;
                bottom: -1.5vh;
                left: 0;
                width: 15%;
                height: 0.35vh;
                background-color: $Marrom;
            }
        }
        p{
            width: 100%;
            height: auto;
            font-family: $Text-font;
            font-size: 1.1vw;
            color: $Preto;
            line-height: 3.5vh;
            text-align: left;
        }
    }
    #etapas{
        min-height: 50vh;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 5% 7.5vh;
        h2{
            width: 100%;
            height: auto;
            font-family: $Main-font;
            font-size: 2.5vw;
            padding-left: 2.5vw;
            margin-bottom: 5vh;
            position: relative;
            color: $Marrom;
            &::before{
                content: '';
                position: absolute;
                bottom: -1.5vh;
                left: 0;
                width: 15%;
                height: 0.35vh;
                background-color: $Marrom;
            }
        }
        p{
            width: 100%;
            height: auto;
            font-family: $Text-font;
            font-size: 1.1vw;
            color: $Preto;
            line-height: 3.5vh;
            text-align: left;
        }
    }
    #resultados{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 0 5% 7.5vh;
        h2{
            width: 100%;
            height: auto;
            font-family: $Main-font;
            font-size: 2.5vw;
            padding-left: 2.5vw;
            margin-bottom: 6.5vh;
            position: relative;
            color: $Marrom;
            &::before{
                content: '';
                position: absolute;
                bottom: -1.5vh;
                left: 0;
                width: 15%;
                height: 0.35vh;
                background-color: $Marrom;
            }
        }
        .img_block{
            margin: 0 0 3vh;
            width: 50%;
            height: 65vh;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2vw;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 1vw;
            }
        }
    }
    #equipe{
        padding: 5vh 5% 7.5vh;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        height: auto;
        h2{
            width: 100%;
            height: auto;
            font-family: $Main-font;
            font-size: 2.5vw;
            padding-left: 2.5vw;
            margin-bottom: 3vh;
            position: relative;
            color: $Marrom;
            &::before{
                content: '';
                position: absolute;
                bottom: -1.5vh;
                left: 0;
                width: 15%;
                height: 0.35vh;
                background-color: $Marrom;
            }
        }
        p{
            width: 100%;
            padding-right: 3.5vw;
            font-family: $Text-font;
            font-weight: 400;
            font-size: 1vw;
            color: $Marrom;
            line-height: 3vh;
        }
        .splide{
            margin-top: 5vh;
            width: 100%;
            height: 50vh;
            .splide__arrows{
                .splide__arrow {
                    width: 3.25vw;
                    height: 3.25vw;
                    padding: 0.55vw;
                    opacity: 1;
                    background: none;
                    svg{
                        fill: $Preto;
                        width: 100%;
                        height: 100%;
                    }
                    &:disabled{
                        opacity: 0.3;
                    }
                }
                .splide__arrow--prev{
                    left: -0.5vw;
                }
                .splide__arrow--next{
                    right: -0.5vw;
                }
            }
            .splide__pagination {
                display: none;
            }
            .splide__track {
                width: 95%;
                height: 100%;
                margin-left: 2.5%;
                .splide__list{
                    width: 100%;
                    height: 100%;
                    .splide__slide{
                        width: 100%;
                        height: 100%;
                        transition: all ease-in-out .15s;
                        a{
                            width: 100%;
                            height: 100%;
                            display: block;
                            position: relative;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                                padding: 1.5vw;
                            }
                            .infosCards{
                                position: absolute;
                                width:68%;
                                height: 20%;
                                bottom: 0;
                                left: 0;
                                z-index: 2;
                                margin: 16%;
                                margin-bottom: 6%;
                                background-color: $Branco;
                                border-bottom-left-radius: 0.5vw;
                                border-bottom-right-radius: 0.5vw;
                                border: 3px solid $Amarelo;
                                border-top: none;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                .nome{
                                    font-family: $Main-font;
                                    width: 90%;
                                    font-size: 1.05vw;
                                    color: $Marrom;
                                    margin-bottom: 1.25vh;
                                    white-space: nowrap;                  
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    text-align: center;
                                }
                                .espec_medico{
                                    all: unset;
                                    width: 90%;
                                    font-family: $Text-font;
                                    font-size: 0.85vw;
                                    color: $Marrom;
                                    white-space: nowrap;                  
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    text-align: center;
                                }
                            }
                        }
                        &:hover{
                            transform: scale(1.02);
                        }
                    }
                }
            }
        }
        .btn_equipe{
            font-family: $Text-font;
            height: 3.5vh;
            color: $Preto;
            font-size: 1.25vw;
            margin-top: 7.5vh;
            img, svg{
                height: 100%;
                path{
                    fill: $Preto;
                }
            }
        }
    }
    #depos{
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            width: 100%;
            height: auto;
            font-family: $Main-font;
            font-size: 2.5vw;
            padding-left: 2.5vw;
            margin-bottom: 3.5vh;
            position: relative;
            color: $Marrom;
            &::before{
                content: '';
                position: absolute;
                bottom: -1.5vh;
                left: 0;
                width: 15%;
                height: 0.35vh;
                background-color: $Marrom;
            }
        }
        p{
            width: 100%;
            font-family: $Text-font;
            font-weight: 400;
            font-size: 1vw;
            color: $Marrom;
            line-height: 3vh;
        }
        .Block_videos{
            width: 100%;
            height: 50vh;
            margin-top: 5vh;
            display: flex;
            .Block_VideoDepo{
                width: 48%;
                height: 90%;
                position: relative;
                transition: all ease-in-out .15s;
                margin: 0 1%;
                img, svg{
                    position: absolute;
                    width: 7.5vw;
                    height: 7.5vw;
                    left: 42%;
                    top: 30%;
                    z-index: 5;
                    transition: all ease-in-out .15s;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
                video{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: relative;
                    z-index: 1;
                    border-radius: 1vw;
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: $Marrom;
                    z-index: 2;
                    opacity: 0.5;
                    border-radius: 1vw;
                }
                &:hover{
                    transform: scale(1.02);
                }
            }
            .no-back{
                &::before{
                    display: none;
                }
            }
        }
    }
    #espaco{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background-color: $Marrom;
        min-height: 100vh;
        height: auto;
        #Block_textEspaco{
            width: 50%;
            height: 100%;
            padding: 3vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 2;
            h2{
                width: 100%;
                height: auto;
                font-family: $Main-font;
                font-size: 2.5vw;
                padding-left: 2.5vw;
                margin-bottom: 5vh;
                position: relative;
                color: $Amarelo;
                &::before{
                    content: '';
                    position: absolute;
                    bottom: -1.5vh;
                    left: 0;
                    width: 35%;
                    height: 0.35vh;
                    background-color: $Amarelo;
                }
            }
            p{
                width: 100%;
                padding-right: 1vw;
                font-family: $Text-font;
                font-weight: 400;
                font-size: 1vw;
                color: $Branco;
                line-height: 3vh;
            }
            .btn_espaco{
                font-family: $Text-font;
                height: 3.5vh;
                width: 45%;
                color: $Amarelo;
                font-size: 1.2vw;
                margin-top: 7.5vh;
                img, svg{
                    height: 100%;
                    width: 25%;
                    margin-left: auto;
                    path{
                        fill: $Amarelo;
                    }
                }
            }
        }
        
        #Block_VideoEspaco{
            width: 50%;
            height: 100vh;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
            img, svg{
                position: absolute;
                width: 7.5vw;
                height: 7.5vw;
                z-index: 5;
                transition: all ease-in-out .15s;
                &:hover{
                    transform: scale(1.1);
                }
            }
            #VideoEspaco{
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
                z-index: 1;
            }
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: $Marrom;
                z-index: 2;
                opacity: 0.5;
            }
        }
        .no-back{
            &::before{
                display: none;
            }
        }
    }
    #FAQ{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        background-color: $Creme;
        padding: 1vh 0;
        h2{
            width: 100%;
            height: 7.5vh;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $Main-font;
            font-size: 2.5vw;
            color: $Marrom;
        }
        .block_perguntas{
            margin: 4vh 0 2vh;
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            .Block_pergunta{
                width: 50%;
                height: 25vh;
                display: flex;
                flex-direction: column;
                padding: 2vw;
                border-right: 2px solid $Preto;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 2vw;
                    width: 80%;
                    height: 2px;
                    background-color: $Preto;
                }
                h3{
                    font-family: $Text-font;
                    font-weight: 700;
                    font-size: 1.15vw;
                    color: $Marrom;
                    margin-bottom: 1.5vh;
                }
                p{
                    font-family: $Text-font;
                    font-weight: 400;
                    font-size: 0.9vw;
                    line-height: 3vh;
                    color: $Preto;
                    margin-bottom: 1.5vh;
                }
                &:nth-child(2), &:nth-child(4), &:nth-child(6){
                    border: none;
                }
                &:nth-child(5), &:nth-child(6){
                    &::before{ display: none; }
                }
            }
        }
    }
}

@media only screen and (max-width: 479px){
    #Main_TratDetalhes{
        #banner{
            min-height: 75vh;
            img{
                height: 100%;
            }
            h1{
                font-size: 8vw;
                padding: 0 2vw;
                &::before{
                    bottom: -2vh;
                    width: 35%;
                    height: 0.35vh;
                }
            }
            p{
                font-size: 4vw;
                margin: 1vh 0;
            }
            span{
                width: 40vw;
                bottom: 2vh;
                right: 4vw;
                font-size: 3vw;
                a{
                    margin-left: 1vw;
                }
            }
        }
        #como_Funicona{
            padding: 3vh 6% 7.5vh;
            h2{
                font-size: 7vw;
                padding-left: 4vw;
                margin-bottom: 5vh;
                &::before{
                    bottom: -1.5vh;
                    width: 45%;
                    height: 0.35vh;
                }
            }
            p{
                font-size: 3.5vw;
                line-height: 4.5vh;
            }
        }
        #etapas{
            padding: 0 5% 7.5vh;
            h2{
                font-size: 7vw;
                padding-left: 4vw;
                margin-bottom: 5vh;
                &::before{
                    bottom: -1.5vh;
                    width: 45%;
                    height: 0.35vh;
                }
            }
            p{
                font-size: 3.5vw;
                line-height: 4.5vh;
            }
        }
        #resultados{
            padding: 0 6% 7.5vh;
            h2{
                font-size: 7vw;
                padding-left: 4vw;
                margin-bottom: 5vh;
                &::before{
                    bottom: -1.5vh;
                    width: 45%;
                    height: 0.35vh;
                }
            }
            .img_block{
                margin: 0 0 3vh;
                width: 100%;
                height: 35vh;
                padding: 0;
            }
        }
        #equipe{
            justify-content: center;
            padding: 5vh 5%;
            height: auto;
            h2{
                font-size: 7vw;
                padding-left: 4vw;
                margin-bottom: 3vh;
                &::before{
                    bottom: -1vh;
                    width: 35%;
                    height: 0.3vh;
                }
            }
            p{
                font-size: 3.5vw;
                line-height: 4.5vh;
            }
            .splide{
                margin-top: 0;
                .splide__arrows{
                    .splide__arrow {
                        width: 12vw;
                        height: 12vw;
                        padding: 1.5vw;
                    }
                    .splide__arrow--prev{
                        left: -2vw;
                    }
                    .splide__arrow--next{
                        right: -2vw;
                    }
                }
                .splide__track {
                    .splide__list{
                        .splide__slide{
                            padding: 0;
                            position: relative;
                            a{
                                img{
                                    padding: 0;
                                    width: 65%;
                                    height: 90%;
                                    margin-left: 17.5%;
                                    margin-top: 5%;
                                    object-fit: fill;
                                }
                                .infosCards{
                                    width: 66%;
                                    height: 25%;
                                    bottom: 0;
                                    left: 0;
                                    z-index: 2;
                                    margin: 17%;
                                    margin-bottom: 5%;
                                    border-bottom-left-radius: 4vw;
                                    border-bottom-right-radius: 4vw;
                                    border: 2px solid $Amarelo;
                                    border-top: none;
                                    .nome{
                                        text-align: center;
                                        font-size: 4vw;
                                        margin-bottom: 2vh;
                                    }
                                    .espec_medico{
                                        font-size: 3.5vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .btn_equipe{
                width: 58vw;
                height: 4vh;
                font-size: 4.5vw;
                margin-top: 5vh;
                img, svg{
                    margin-left: auto;
                    width: 15%;
                    height: 100%;
                }
            }
        }
        #depos{
            height: auto;
            padding: 3vh 7.5% 6vh;
            h2{
                font-size: 7vw;
                padding-left: 4vw;
                margin-bottom: 3vh;
                &::before{
                    bottom: -0.75vh;
                    width: 35%;
                    height: 0.3vh;
                }
            }
            p{
                font-size: 2.75vw;
            }
            .Block_videos{
                width: 100%;
                height: 35vh;
                margin-top: 5vh;
                display: flex;
                .Block_VideoDepo{
                    width: 100%;
                    img, svg{
                        width: 15vw;
                        height: 15vw;
                        top: 32%;
                    }
                    video{
                        border-radius: 3.5vw;
                    }
                    &::before{
                        border-radius: 3.5vw;
                    }
                }
            }
            
        }
        #espaco{
            flex-direction: column;
            padding: 0;
            height: auto;
            #Block_VideoEspaco{
                order: 2;
                width: 100%;
                height: 50vh;
                img, svg{
                    width: 20vw;
                    height: 20vw;
                }
                &::before{
                    height: 101.5%;
                    top: -1%;
                }
            }
            #Block_textEspaco{
                width: 100%;
                min-height: 125vh;
                padding: 5vw;
                flex-direction: column;
                order: 1;
                h2{
                    font-size: 7vw;
                    padding-left: 4vw;
                    margin-bottom: 5vh;
                    margin-top: 0;
                    &::before{
                        bottom: -1vh;
                        width: 40%;
                        height: 0.3vh;
                    }
                }
                p{
                    padding-right: 2vw;
                    font-size: 3.5vw;
                    line-height: 3vh;
                }
                .btn_espaco{
                    width: 60vw;
                    height: 4vh;
                    font-size: 4.5vw;
                    margin-top: 5vh;
                    img, svg{
                        margin-left: auto;
                        width: 15%;
                        height: 100%;
                    }
                }
            }
        }
        #FAQ{
            height: auto;
            padding: 2vh 7.5%;
            h2{
                font-size: 6.5vw;
            }
            .block_perguntas{
                margin: 2vh 0;
                .Block_pergunta{
                    width: 100%;
                    height: 35vh;
                    padding: 1vh 2vw;
                    border: none;
                    margin: 1vh 0;
                    &::before{
                        left: 10%;
                    }
                    h3{
                        font-size: 3.75vw;
                        margin-bottom: 2vh;
                    }
                    p{
                        font-size: 3vw;
                        line-height: 2.75vh;
                        margin-bottom: 0;
                    }
                    &:nth-child(5){
                        &::before{ display: block; }
                    }
                }
            }
        }
    }
}