#Main_tratamentos{
    padding-top: 124px;
    #banner{
        min-height: 100vh;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        align-items: flex-start;
        overflow: visible;
        img{
            width: 50%;
            height: 60vh;
            object-fit: cover;
        }
        #Titulo_banner{
            width: 50%;
            height: 60vh;
            background-color: $Amarelo;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1, span{
                font-family: $Main-font;
                color: $Marrom;
                z-index: 5;
            }
            h1{
                position: relative;
                font-size: 3.25vw;
                display: flex;
                justify-content: center;
                text-align: center;
                &::before{
                    content: '';
                    position: absolute;
                    bottom: -1.5vh;
                    width: 30%;
                    height: 0.25vh;
                    background-color: $Marrom;
                }
            }
            span{
                font-size: 1.75vw;
                margin: -7.5vh 0 1vh;
            }
        }
        .amarelo{
            background-color: $Amarelo !important;
        }
        .preto{
            background-color: $Preto !important;
            h1, span{
                color: $Amarelo !important;
            }
            h1{
                &::before{
                    background-color: $Amarelo !important;
                }
            }
           
        }
        .cinza{
            background-color: $Cinza !important;
            h1, span{
                color: $Branco !important;
            }
            h1{
                &::before{
                    background-color: $Branco !important;
                }
            }
           
        }
        .marrom{
            background-color: $Marrom !important;
            h1, span{
                color: $Branco !important;
            }
            h1{
                &::before{
                    background-color: $Branco !important;
                }
            }
           
        }
        p{
            width: 100%;
            min-height: 40vh;
            height: auto;
            padding: 2vh 5%;
            font-family: $Text-font;
            font-size: 1.25vw;
            color: $Preto;
            line-height: 5vh;
            display: flex;
            align-items: center;
        }
    }
    #Listagem_tratamentos{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .tratamentos_block{
            width: 100%;
            height: 75vh;
            margin: 5vh 0;
            a{
                display: flex;
                width: 100%;
                height: 15%;
                position: relative;
                h2{
                    width: 75%;
                    height: 100%;
                    font-family: $Main-font;
                    font-size: 2.5vw;
                    padding-left: 2.5vw;
                    color: $Marrom;
                    white-space: nowrap;                  
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: 4vh;
                        left: 0;
                        width: 15%;
                        height: 0.4vh;
                        background-color: $Marrom;
                    }
                }
                &:hover{
                    h2{
                        color: $Amarelo;
                    }
                }
            }
            .tratamento_splide{
                width: 100%;
                height: 85%;
                .splide__arrows{
                    .splide__arrow {
                        width: 4.5vw;
                        height: 4.5vw;
                        padding: 0.55vw;
                        opacity: 1;
                        background: none;
                        svg{
                            fill: $Amarelo;
                            width: 100%;
                            height: 100%;
                        }
                        &:disabled{
                            opacity: 0.3;
                        }
                    }
                    .splide__arrow--prev{
                        left: -2vw;
                    }
                    .splide__arrow--next{
                        right: -2vw;
                    }
                }
                .splide__pagination {
                    display: none;
                }
                .splide__track {
                    width: 95%;
                    height: 100%;
                    margin-left: 2.5%;
                    .splide__list{
                        width: 100%;
                        height: 100%;
                        .splide__slide{
                            width: 100%;
                            height: 100%;
                            position: relative;
                            padding: 0.75vw;
                            transition: all ease-in-out .15s;
                            &:hover{
                                .Block_img{
                                    img{
                                        transform: scale(1.05);
                                    }
                                    &::before{
                                        backdrop-filter: blur(2px);
                                    }
                                }
                                .infosCards{
                                    .nome{
                                        transform: scale(1.07);
                                    }
                                    .btn_CardTratamento{
                                        transform: scale(1.07);
                                    }
                                }
                            }
                            .Block_img{
                                width: 100%;
                                height: 100%;  
                                overflow: hidden;
                                border-radius: 1vw;
                                z-index: 1;
                                position: relative;
                                img{
                                    transition: all ease-in-out 0.5s;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                                &::before{
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background-color: rgba(75, 47, 36, 0.4);
                                    z-index: 2;
                                    transition: all ease-in-out 0.5s;
                                }
                            }
                            .infosCards{
                                position: absolute;
                                width: 100%;
                                height: 30%;
                                bottom: 7.5%;
                                left: 0;
                                z-index: 9;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                .nome{
                                    transition: all ease-in-out 0.5s;
                                    width: 100%;
                                    font-family: $Main-font;
                                    font-size: 1.5vw;
                                    color: $Branco;
                                    margin-bottom: 5vh;
                                    padding: 0 2vw;
                                    text-align: center;
                                }
                                .btn_CardTratamento{
                                    transition: all ease-in-out 0.5s;
                                    font-family: $Text-font;
                                    height: 3.5vh;
                                    width: 6.25vw;
                                    color: $Branco;
                                    font-size: 1vw;
                                    outline: 2px solid $Branco;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 5vw;
                                }
                            }
                        }
                    }
                }
            }
        }
        .tratamentosEspecialidade_block{
            width: 100%;
            height: auto;
            margin: 5vh 0;
            display: flex;
            flex-wrap: wrap;
            .tratamento_card{
                width: 24%;
                height: 65vh;
                position: relative;
                padding: 1vw;
                transition: all ease-in-out .15s;
                &:hover{
                    .Block_img{
                        img{
                            transform: scale(1.05);
                        }
                        &::before{
                            backdrop-filter: blur(2px);
                        }
                    }
                    .infosCards{
                        .nome{
                            transform: scale(1.07);
                        }
                        .btn_CardTratamento{
                            transform: scale(1.07);
                        }
                    }
                }
                .Block_img{
                    width: 100%;
                    height: 100%;  
                    overflow: hidden;
                    border-radius: 1vw;
                    z-index: 1;
                    position: relative;
                    img{
                        transition: all ease-in-out 0.5s;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(75, 47, 36, 0.4);
                        z-index: 2;
                        transition: all ease-in-out 0.5s;
                    }
                }
                .infosCards{
                    position: absolute;
                    width: 100%;
                    height: 30%;
                    bottom: 7.5%;
                    left: 0;
                    z-index: 9;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .nome{
                        transition: all ease-in-out 0.5s;
                        width: 100%;
                        font-family: $Main-font;
                        font-size: 1.5vw;
                        color: $Branco;
                        margin-bottom: 5vh;
                        padding: 0 2vw;
                        text-align: center;
                    }
                    .btn_CardTratamento{
                        transition: all ease-in-out 0.5s;
                        font-family: $Text-font;
                        height: 3.5vh;
                        width: 6.25vw;
                        color: $Branco;
                        font-size: 1vw;
                        outline: 2px solid $Branco;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 5vw;
                    }
                }
            }
        }
    }
    #depos{
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            width: 100%;
            height: auto;
            font-family: $Main-font;
            font-size: 2.5vw;
            padding-left: 2.5vw;
            margin-bottom: 3.5vh;
            position: relative;
            color: $Marrom;
            &::before{
                content: '';
                position: absolute;
                bottom: -1.5vh;
                left: 0;
                width: 15%;
                height: 0.35vh;
                background-color: $Marrom;
            }
        }
        p{
            width: 100%;
            font-family: $Text-font;
            font-weight: 400;
            font-size: 1vw;
            color: $Marrom;
            line-height: 3vh;
        }
        .depo_splide{
            width: 100%;
            height: 50vh;
            margin-top: 5vh;
            .splide__arrows{
                .splide__arrow {
                    width: 3.25vw;
                    height: 3.25vw;
                    padding: 0.55vw;
                    opacity: 1;
                    background: none;
                    svg{
                        fill: $Marrom;
                        width: 100%;
                        height: 100%;
                    }
                    &:disabled{
                        opacity: 0.3;
                    }
                }
                .splide__arrow--prev{
                    left: -0.5vw;
                }
                .splide__arrow--next{
                    right: -0.5vw;
                }
            }
            .splide__pagination {
                display: none;
            }
            .splide__track {
                width: 95%;
                height: 100%;
                margin-left: 2.5%;
                .splide__list{
                    width: 100%;
                    height: 100%;
                    .splide__slide{
                        width: 100%;
                        height: 100%;
                        padding: 1.5vw;
                        transition: all ease-in-out .15s;
                        z-index: 2;
                        &:hover{
                            transform: scale(1.02);
                        }
                        .Block_VideoDepo{
                            width: 100%;
                            height: 100%;
                            position: relative;
                            img, svg{
                                position: absolute;
                                width: 7.5vw;
                                height: 7.5vw;
                                left: 42%;
                                top: 30%;
                                z-index: 5;
                                transition: all ease-in-out .15s;
                                &:hover{
                                    transform: scale(1.1);
                                }
                            }
                            video{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                position: relative;
                                z-index: 1;
                                border-radius: 1vw;
                            }
                            &::before{
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                background-color: $Marrom;
                                z-index: 2;
                                opacity: 0.5;
                                border-radius: 1vw;
                            }
                        }
                        .no-back{
                            &::before{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    #equipe{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5vh 5%;
        min-height: 100vh;
        height: auto;
        h2{
            width: 100%;
            height: auto;
            font-family: $Main-font;
            font-size: 2.5vw;
            padding-left: 2.5vw;
            margin-bottom: 3.5vh;
            position: relative;
            color: $Marrom;
            &::before{
                content: '';
                position: absolute;
                bottom: -1.5vh;
                left: 0;
                width: 15%;
                height: 0.35vh;
                background-color: $Marrom;
            }
        }
        p{
            width: 100%;
            padding-right: 3.5vw;
            font-family: $Text-font;
            font-weight: 400;
            font-size: 1vw;
            color: $Marrom;
            line-height: 3vh;
        }
        .equipe_splide{
            margin-top: 5vh;
            width: 100%;
            height: 50vh;
            .splide__arrows{
                .splide__arrow {
                    width: 3.25vw;
                    height: 3.25vw;
                    padding: 0.55vw;
                    opacity: 1;
                    background: none;
                    svg{
                        fill: $Preto;
                        width: 100%;
                        height: 100%;
                    }
                    &:disabled{
                        opacity: 0.3;
                    }
                }
                .splide__arrow--prev{
                    left: -0.5vw;
                }
                .splide__arrow--next{
                    right: -0.5vw;
                }
            }
            .splide__pagination {
                display: none;
            }
            .splide__track {
                width: 95%;
                height: 100%;
                margin-left: 2.5%;
                .splide__list{
                    width: 100%;
                    height: 100%;
                    .splide__slide{
                        width: 100%;
                        height: 100%;
                        transition: all ease-in-out .15s;
                        a{
                            width: 100%;
                            height: 100%;
                            display: block;
                            position: relative;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                                padding: 1.5vw;
                            }
                            .infosCards{
                                position: absolute;
                                width: 83%;
                                height: 20%;
                                bottom: 0;
                                left: 0;
                                z-index: 5;
                                margin: 8.5%;
                                background-color: $Branco;
                                border-bottom-left-radius: 0.5vw;
                                border-bottom-right-radius: 0.5vw;
                                border: 3px solid $Amarelo;
                                border-top: none;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                .nome{
                                    font-family: $Main-font;
                                    width: 90%;
                                    font-size: 1.05vw;
                                    color: $Marrom;
                                    margin-bottom: 1.25vh;
                                    white-space: nowrap;                  
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    text-align: center;
                                }
                                .espec_medico{
                                    all: unset;
                                    width: 90%;
                                    font-family: $Text-font;
                                    font-size: 0.85vw;
                                    color: $Marrom;
                                    white-space: nowrap;                  
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    text-align: center;
                                }
                            }
                        }
                        &:hover{
                            transform: scale(1.02);
                        }
                    }
                }
            }
        }
        .btn_equipe{
            font-family: $Text-font;
            height: 3.5vh;
            color: $Preto;
            font-size: 1.25vw;
            margin-top: 5vh;
            img, svg{
                height: 100%;
                path{
                    fill: $Preto;
                }
            }
        }
    }
    #concierge{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background-color: $Marrom;
        #Block_textConcierge{
            width: 50%;
            height: 100%;
            padding: 0 7.5vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 2;
            h2{
                width: 100%;
                height: auto;
                font-family: $Main-font;
                font-size: 2.5vw;
                padding-right: 2.5vw;
                margin-bottom: 7.5vh;
                position: relative;
                color: $Amarelo;
                text-align: right;
                &::before{
                    content: '';
                    position: absolute;
                    bottom: -1.5vh;
                    right: 0;
                    width: 35%;
                    height: 0.35vh;
                    background-color: $Amarelo;
                }
            }
            p{
                width: 100%;
                padding-left: 5vw;
                font-family: $Text-font;
                font-weight: 400;
                font-size: 1vw;
                text-align: right;
                color: $Branco;
                line-height: 4vh;
            }
            span{
                width: 100%;
                padding-left: 10vw;
                font-family: $Text-font;
                font-weight: 400;
                font-size: 1.1vw;
                text-align: right;
                color: $Creme;
                line-height: 3.5vh;
                margin-top: 12.5vh;
            }
            .btn_Concierge{
                font-family: $Text-font;
                font-weight: 600;
                height: 4.5vh;
                width: 17.5vw;
                background-color: $Amarelo;
                color: $Preto;
                font-size: 1.25vw;
                margin-top: 5vh;
                margin-left: auto;
            }
        }
        img, svg{
            width: 50%;
            height: 100%;
            z-index: 2;
            object-fit: cover;
        }
        &::before{
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 50%;
            height: 100%;
            background-color: $Marrom;
            opacity: 0.35;
            z-index: 3;
        }
    }
    #allInOne{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        #Block_VideoAllinOne{
            width: 50%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
            img, svg{
                position: absolute;
                width: 7.5vw;
                height: 7.5vw;
                z-index: 5;
                transition: all ease-in-out .15s;
                &:hover{
                    transform: scale(1.1);
                }
            }
            #VideoAllinOne{
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
                z-index: 1;
            }
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: $Marrom;
                z-index: 2;
                opacity: 0.5;
            }
        }
        .no-back{
            &::before{
                display: none;
            }
        }
        #Block_textAllinOne{
            width: 50%;
            height: 100%;
            padding: 5vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 2;
            h2{
                width: 100%;
                height: auto;
                font-family: $Main-font;
                font-size: 2.5vw;
                padding-right: 2.5vw;
                margin-bottom: 5vh;
                position: relative;
                color: $Marrom;
                text-align: right;
                &::before{
                    content: '';
                    position: absolute;
                    bottom: -1.5vh;
                    right: 0;
                    width: 35%;
                    height: 0.35vh;
                    background-color: $Marrom;
                }
            }
            p{
                width: 100%;
                padding-left: 2vw;
                font-family: $Text-font;
                font-weight: 400;
                font-size: 1vw;
                text-align: right;
                color: $Marrom;
                line-height: 3vh;
            }
            .btn_AllInOne{
                font-family: $Text-font;
                height: 4.5vh;
                width: 13.5vw;
                background-color: $Amarelo;
                color: $Preto;
                font-size: 1.25vw;
                margin-top: 5vh;
                margin-left: auto;
            }
        }
    }
}

@media only screen and (max-width: 479px){
    #Main_tratamentos{
        padding-top: 90px;
        #banner{
            height: 75vh;
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            align-items: flex-start;
            #Titulo_banner{
                width: 100%;
                height: 30vh;
                h1{
                    font-size: 7.5vw;
                    &::before{
                        bottom: -0.75vh;
                    }
                }
                span{
                    font-size: 3.5vw;
                    margin: 0 0 0.5vh;
                }
            }
            img{
                width: 100%;
                height: 25vh;
                object-fit: cover;
            }
            p{
                padding: 2vh 7.5% 0;
                font-size: 2.6vw;
                line-height: 2.75vh;
            }
        }
        #Listagem_tratamentos{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .tratamentos_block{
                width: 100%;
                height: 70vh;
                margin: 3vh 0;
                a{
                    width: 100%;
                    height: 15%;
                    display: flex;
                    position: relative;
                    h2{
                        display: flex;
                        align-items: center;
                        font-size: 6vw;
                        padding-left: 5vw;
                        &::before{
                            bottom: 2.25vh;
                            left: 2vw;
                            width: 35%;
                            height: 0.3vh;
                        }
                    }
                }
                
                .tratamento_splide{
                    padding: 0 7.5%;
                    height: 85%;
                    .splide__arrows{
                        .splide__arrow {
                            width: 12vw;
                            height: 12vw;
                            padding: 1.75vw;
                        }
                        .splide__arrow--prev{
                            left: -1vw;
                        }
                        .splide__arrow--next{
                            right: -1vw;
                        }
                    }
                    .splide__track {
                        width: 90%;
                        height: 100%;
                        margin-left: 5%;
                        .splide__list{
                            .splide__slide{
                                padding: 1vw;
                                .Block_img{
                                    border-radius: 3vw;
                                }
                                .infosCards{
                                    height: 35%;
                                    bottom: 10%;
                                    .nome{
                                        font-size: 5vw;
                                        margin-bottom: 5vh;
                                        padding: 0 10vw;
                                    }
                                    .btn_CardTratamento{
                                        height: 3vh;
                                        width: 22vw;
                                        font-size: 3.5vw;
                                        outline: 1px solid $Branco;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .tratamentosEspecialidade_block{
                .tratamento_card{
                    width: 49%;
                    height: 40vh;
                    .Block_img{
                        border-radius: 2.5vw;
                    }
                    .infosCards{
                        .nome{
                            font-size: 5vw;
                            margin-bottom: 5vh;
                            padding: 0 10vw;
                        }
                        .btn_CardTratamento{
                            height: 3vh;
                            width: 22vw;
                            font-size: 3.5vw;
                            outline: 1px solid $Branco;
                        }
                    }
                }
            }
        }
        #depos{
            height: auto;
            padding: 3vh 7.5% 6vh;
            h2{
                font-size: 7vw;
                padding-left: 4vw;
                margin-bottom: 3vh;
                &::before{
                    bottom: -0.75vh;
                    width: 35%;
                    height: 0.3vh;
                }
            }
            p{
                font-size: 2.75vw;
            }
            .splide{
                width: 100%;
                height: 25vh;
                margin-top: 1vh;
                .splide__arrows{
                    .splide__arrow {
                        width: 12vw;
                        height: 12vw;
                        padding: 1.5vw;
                    }
                    .splide__arrow--prev{
                        left: -5vw;
                    }
                    .splide__arrow--next{
                        right: -5vw;
                    }
                }
                .splide__track {
                    width: 90%;
                    margin-left: 5%;
                    .splide__list{
                        .splide__slide{
                            .Block_VideoDepo{
                                img, svg{
                                    width: 15vw;
                                    height: 15vw;
                                    top: 32%;
                                }
                                video{
                                    border-radius: 3.5vw;
                                }
                                &::before{
                                    border-radius: 3.5vw;
                                }
                            }
                        }
                    }
                }
            }
        }
        #equipe{
            justify-content: center;
            padding: 5vh 5% 7.5vh;
            height: auto;
            h2{
                font-size: 7vw;
                padding-left: 4vw;
                margin-bottom: 5vh;
                &::before{
                    bottom: -1vh;
                    width: 35%;
                    height: 0.3vh;
                }
            }
            p{
                padding-right: 3vw;
                font-size: 2.75vw;
                line-height: 2.5vh;
            }
            .splide{
                margin-top: 1vh;
                .splide__arrows{
                    .splide__arrow {
                        width: 12vw;
                        height: 12vw;
                        padding: 1.5vw;
                    }
                    .splide__arrow--prev{
                        left: -2vw;
                    }
                    .splide__arrow--next{
                        right: -2vw;
                    }
                }
                .splide__track {
                    .splide__list{
                        .splide__slide{
                            padding: 0;
                            position: relative;
                            a{
                                img{
                                    padding: 0;
                                    width: 65%;
                                    height: 90%;
                                    margin-left: 17.5%;
                                    margin-top: 5%;
                                    object-fit: fill;
                                }
                                .infosCards{
                                    width: 66%;
                                    height: 25%;
                                    bottom: 0;
                                    left: 0;
                                    z-index: 2;
                                    margin: 17%;
                                    margin-bottom: 5%;
                                    border-bottom-left-radius: 4vw;
                                    border-bottom-right-radius: 4vw;
                                    border: 2px solid $Amarelo;
                                    border-top: none;
                                    .nome{
                                        text-align: center;
                                        font-size: 4vw;
                                        margin-bottom: 2vh;
                                    }
                                    .espec_medico{
                                        font-size: 3.5vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .btn_equipe{
                width: 70vw;
                height: 4vh;
                font-size: 4.5vw;
                margin-top: 5vh;
                img, svg{
                    margin-left: auto;
                    width: 15%;
                    height: 100%;
                }
            }
        }
        #concierge{
            height: 115vh;
            flex-direction: column;
            #Block_textConcierge{
                width: 100%;
                height: 65vh;
                padding: 2vh 7.5%;
                flex-direction: column;
                order: 1;
                h2{
                    font-size: 6vw;
                    padding-right: 3vw;
                    margin-bottom: 6vh;
                    &::before{
                        bottom: -1vh;
                        width: 40%;
                        height: 0.3vh;
                    }
                }
                p{
                    padding-left: 5vw;
                    font-size: 2.75vw;
                    line-height: 2.5vh;
                }
                span{
                    padding-left: 15vw;
                    font-size: 2.5vw;
                    line-height: 2vh;
                    margin-top: 10vh;
                }
                .btn_Concierge{
                    border-radius: 1.5vw;
                    height: 3.5vh;
                    width: 45vw;
                    font-size: 3.5vw;
                    margin-top: 3vh;
                    margin-left: auto;
                }

            }
            img{
                width: 100%;
                height: 50vh;
                object-fit: cover;
                order: 2;
            }
            &::before{
                top: 65vh;
                right: 0;
                width: 100%;
                height: 50vh;
            }
        }
        #allInOne{
            height: auto;
            flex-direction: column;
            #Block_VideoAllinOne{
                order: 2;
                width: 100%;
                height: 50vh;
                position: relative;
                img, svg{
                    width: 20vw;
                    height: 20vw;
                }
                &::before{
                    height: 100%;
                }
            }
            #Block_textAllinOne{
                width: 100%;
                height: 100vh;
                padding: 2vh 7.5%;
                flex-direction: column;
                order: 1;
                h2{
                    font-size: 6vw;
                    padding-right: 3vw;
                    margin-bottom: 6vh;
                    &::before{
                        bottom: -1vh;
                        width: 40%;
                        height: 0.3vh;
                    }
                }
                p{
                    padding-left: 5vw;
                    font-size: 2.75vw;
                    line-height: 2.5vh;
                }
                span{
                    padding-left: 15vw;
                    font-size: 2.5vw;
                    line-height: 2vh;
                    margin-top: 10vh;
                }
                .btn_AllInOne{
                    border-radius: 1.5vw;
                    height: 3.5vh;
                    width: 35vw;
                    font-size: 3.5vw;
                    margin-top: 3vh;
                    margin-left: auto;
                }
            }
        }
    }
}
