@font-face {
    font-family: 'TrajanPro';
    src: url("../../fonts/TrajanPro-Bold.otf") format("opentype");
    font-weight: 700;
}
@font-face {
    font-family: 'khmer-mn';
    src: url('../../fonts/khmer-mn.ttf') format('truetype');
    font-weight: 400;
}

$Main-font: 'TrajanPro', sans-serif;
$Second-font: 'khmer-mn', sans-serif;
$Text-font: Georgia, 'Times New Roman', Times, serif;